<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equipo</title>
</head>
<body>
    <h1>Eslogan de mi equipo</h1>
    {% if numero == 1 %}
        <h2 style="color: brown;">Arriba Perú!</h2>
    {% elif numero == 2 %}
        <h2 style="color: blue;">Arriba Alianza</h2>
    {% elif numero == 3 %} 
    <div style="background-color: brown;">
        <h2 style="color: beige;">Dale U</h2>
    </div>
    {% elif numero == 4 %}
        <h2>Echa Muni cha chaa!</h2>
    {% else %}
    <h2> No tiene Eslogan... 😒😒😒</h2>
    {% endif %}
</body>
</html>